/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--Inter-Variable), sans-serif;
  font-weight: var(--font-weight-content);
  color: var(--accent-color);
  background-image: repeating-linear-gradient(
      to right,
      var(--background-color-repeat-linear),
      transparent 2px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--background-color-repeat-linear),
      transparent 2px
    ),
    linear-gradient(var(--background-color-linear));
  background-size: cover;
  background-attachment: fixed;
}

/* header -------------------------------------------------------------------------------------------------------------------------------------- */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 696px);
  margin: 102px auto 104px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.header__title {
  font-family: "PressStart2P", sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  margin-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  margin-bottom: 20px;
}

.header__paragraph {
  font-family: "PressStart2P", sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 1;
  margin-bottom: 25px;
}

.header__theme-menu {
  font-family: "PressStart2P", sans-serif;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 25px;
}

.theme-menu__item:not(:last-of-type) {
  margin-bottom: 14px;
}

.theme-menu__button {
  position: relative;
  transition: opacity 0.3s ease;

}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--accent-color);
  /* transform: translate(-50%) scaleX(0); */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  /* transform: translate(0) scaleX(1); */
  transform: scaleX(1);
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  animation: selected 1s ease-in-out infinite alternate;
}

@keyframes selected {

  100% {
    left: -16px;
  }
}

/* main -------------------------------------------------------------------------------------------------------------------------------------- */

.main-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.main-list__item {
  width: min(100%, 696px);
}

/* card -------------------------------------------------------------------------------------------------------------------------------------- */

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  font-family: "Inter-Variable", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: var(--font-weight-title);
}

.img-wrapper {
  position: relative;
}

.card__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.img-lable {
  position: absolute;
  right: 11px;
  top: 25px;
  font-family: "PressStart2P", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  -webkit-text-stroke: 1px var(--bg-color);
  color: var(--accent-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__text {
  font-family: "Inter-Variable", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: var(--font-weight-content);
}

.button-wrapper {
  align-self: end;
  display: flex;
  gap: 12px;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 9px 37px;
  transition: box-shadow 0.3s ease;
  min-width: 162px;
}

.hover-effect::before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.hover-effect:hover::before {
  transform: scaleX(1);
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color); 
}

/* .card__like-button:active {
  transform: scale(95%);
} */

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--button-hover-color);
  font-family: "PressStart2P", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
}

.card__icon-button {
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  transition: border 0.3s ease;
}

.core {
  transition: fill .3s .03s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill .3s linear;
}

.main-body {
  transition: fill .3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill .3s .05s linear;
}

.like-icon:active .core {
  fill: red;
  transition: fill .3s linear;
}

.like-icon:active .main-body {
  fill: red;
  transition: fill .3s .05s linear;
}

.like-icon.is-liked .core {
  fill: red;
  transition: fill .3s linear;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill .3s .05s linear;
}

.contour {
  transition: fill .1s linear;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill .3s .06s linear;
}

.is-liked .heart {
  animation: scale .3s ease-in .1s 1 alternate;
  transform-origin: center;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.is-liked .sparks {
  animation: sparks .3s ease-in .3s 1 alternate;
}

@keyframes sparks {
  100% {
    fill: red;
  }
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

/* fotter -------------------------------------------------------------------------------------------------------------------------------------- */

.footer {
  display: flex;
  justify-content: center;
  margin: 50px 0 100px;
}

.footer__button {
  position: relative;
  border: 2px solid var(--accent-color);
  background: var(--bg-color);
  padding: 13px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: box-shadow 0.3s ease;
}

.footer__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.floppy {
  fill: var(--button-hover-color);
  mix-blend-mode: difference;
}

/* queries -------------------------------------------------------------------------------------------------------------------------------------- */

@media (width <= 375px) {
  .footer__button {
    flex-direction: column;
    padding: 15px 20px;
  }
}
