/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --background-color-repeat-linear: #000;
  --background-color-linear:#007f0c;
  --background-color-linear-second: #004306;
  --bg-color: black;
  --accent-color: rgba(0, 204, 20, 1);
  --font-weight-content: 465;
  --font-weight-title: 785;
  --button-hover-color: rgba(0, 204, 20, 1);
  --bg-spare-color: black;

}

:root.theme-light {
  --background-color-repeat-linear: #d3d3d3;
  --background-color-linear:#e7e7e7 0.01%;
  --background-color-linear-second: #1a1a1a;
  --bg-color: white;
  --accent-color: rgba(0, 0, 0, 1);
  --font-weight-content: 400;
  --font-weight-title: 700;
  --button-hover-color: white;
  --bg-spare-color: white;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-repeat-linear: #000;
    --background-color-linear:#007f0c;
    --background-color-linear-second: #004306;
    --bg-color: black;
    --accent-color: rgba(0, 204, 20, 1);
    --font-weight-content: 465;
    --font-weight-title: 785;
    --button-hover-color: rgba(0, 204, 20, 1);
    --bg-spare-color: black;

  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color-repeat-linear: #d3d3d3;
    --background-color-linear:#e7e7e7 0.01%;
    --background-color-linear-second: #1a1a1a;
    --bg-color: white;
    --accent-color: rgba(0, 0, 0, 1);
    --font-weight-content: 400;
    --font-weight-title: 700;
    --button-hover-color: white;
    --bg-spare-color: white;

  }
}
