/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --Inter-Variable: "Inter-Variable";
  --PressStart2P: "PressStart2P";
  --font-weight-content: 400;
  --font-weight-title: 700;
  --background-color-repeat-linear: #d3d3d3;
  --background-color-linear: #e7e7e7 0.01%;
  --background-color-linear-second: #1a1a1a;
  --bg-color: white;
  --accent-color: rgba(0, 0, 0, 1);
  --button-hover-color: white;
}
